<mat-card>
    <mat-toolbar>
        {{data.INSTNM}}
    </mat-toolbar>
    <mat-card-content>
        <div>
            <div fxLayout="row">
                <div>
                    <mat-list>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['UNITID']}}: 
                            </div>
                            <span>
                                {{data['UNITID']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['INSTNM']}}: 
                            </div>
                            <span>
                                {{data['INSTNM']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['ADDR']}}: 
                            </div>
                            <span>
                                {{data['ADDR']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['CITY']}}: 
                            </div>
                            <span>
                                {{data['CITY']}}
                            </span>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div>
                    <mat-list>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['COUNTYNM']}}: 
                            </div>
                            <span>
                                {{data['COUNTYNM']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['STABBR']}}: 
                            </div>
                            <span>
                                {{data['STABBR']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['ZIP']}}: 
                            </div>
                            <span>
                                {{data['ZIP']}}
                            </span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div fxLayout="row">
                <div>
                    <mat-list>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['ADMINURL']}}: 
                            </div>
                            <span>
                                {{data['ADMINURL']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['APPLURL']}}: 
                            </div>
                            <span>
                                {{data['APPLURL']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['ATHURL']}}: 
                            </div>
                            <span>
                                {{data['ATHURL']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['DISAURL']}}: 
                            </div>
                            <span>
                                {{data['DISAURL']}}
                            </span>
                        </mat-list-item>

                    </mat-list>
                </div>
                <div>
                    <mat-list>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['NPRICURL']}}: 
                            </div>
                            <span>
                                {{data['NPRICURL']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['VETURL']}}: 
                            </div>
                            <span>
                                {{data['VETURL']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['WEBADDR']}}: 
                            </div>
                            <span>
                                {{data['WEBADDR']}}
                            </span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div fxLayout="row">
                <div>
                    <mat-list>

                        <mat-list-item>
                            <div>
                                {{fieldMapping['CARNEGIE']}}: 
                            </div>
                            <span>
                                {{data['CARNEGIE']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['CHFNM']}}: 
                            </div>
                            <span>
                                {{data['CHFNM']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['CHFTITLE']}}: 
                            </div>
                            <span>
                                {{data['CHFTITLE']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['CNGDSTCD']}}: 
                            </div>
                            <span>
                                {{data['CNGDSTCD']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['COUNTYCD']}}: 
                            </div>
                            <span>
                                {{data['COUNTYCD']}}
                            </span>
                        </mat-list-item>
                    </mat-list>

                </div>
                <div>
                    <mat-list>

                        <mat-list-item>
                            <div>
                                {{fieldMapping['FIPS']}}: 
                            </div>
                            <span>
                                {{data['FIPS']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['IALIAS']}}: 
                            </div>
                            <span>
                                {{data['IALIAS']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['LATITUDE']}}: 
                            </div>
                            <span>
                                {{data['LATITUDE']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['LONGITUD']}}: 
                            </div>
                            <span>
                                {{data['LONGITUD']}}
                            </span>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                {{fieldMapping['OBEREG']}}: 
                            </div>
                            <span>
                                {{data['OBEREG']}}
                            </span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div> 
    </mat-card-content>

</mat-card>